@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #c5c5c5;
    height:  50em;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10%;
    background-color: #2A2A2A;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 300px;
    z-index: 2;
}

.logo{
    color: #FFF;
    font-weight: 1000;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li{
    margin-left: 10px;
    margin-right: 10px;
}

nav ul li a
{
    color: #FFF;
    display: block;
    padding: 10x 20px;
}

nav li a:hover
{
    color: rgb(172, 172, 172);
    -webkit-transition: color 250ms linear;
    -ms-transition: color 250ms linear;
    transition: color 250ms linear;
}

.main-content{
    margin-top: 5%;
}
.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.item{
    max-width: 500px;
    width: 100%;
    height: auto;
    align-items: center;
}

.item img{
    width: 100%;
    height: auto;
}

.logo_img{
    width: 100%;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}



.bottom-bar{

}