@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html{
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;

}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #ffffff;
    height:  50em;
}

p{
    font-size: 20px;
}

th{
    padding: 10px;
}
td {
    border-style : hidden;
    padding: 5px;
}

tr{
    border-style: hidden;
}

@media screen and (max-width:  768px) {
    td {
      display: block;
      margin: 2px;
    }
  }


.titlegame{
    margin-top: 5%;
    font-size: 100px;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .titlegame {
        margin-top: 15%;
        font-size: 50px;
    }
  }



.titledesc{
    font-size: 25px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .titledesc {
        font-size: 15px;
    }
  }



.margins{
    margin: 20%;
}
.description{
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .description {
        margin-left: 10%;
        margin-right: 10%;
    }
  }


.txtjustsections{
    text-align: justify;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .txtjustsections {
        font-size: 15px;
    }
  }



a.anchor {

    top: -250px;
}

.header-margin{
    margin-top: 5%;
}
.txt-margintop{
    margin-top: 10%;
}

.main-content{
    margin-top: 50px;
}
.section-top{
    margin-top: 2%;
}

.c-item {
    height:25%;
}

.c-img{
    height: 40%;
    object-fit: cover;
}

.c-size{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
}

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .c-size {
        width: 100%;
        height: 100%;
    }
  }


.c-sizeGames{
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
}


.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.centerYoutube{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centerGameDesc{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .centerGameDesc {
        width: 100%;
    }
  }



.item{
    max-width: 500px;
    width: 100%;
    height: auto;
    align-items: center;
}

.item img{
    width: 100%;
    height: auto;
}

.logo_img{
    width: 100%;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1
{
    position: relative;
    overflow: hidden;
    color: #FFF;
}

.section1 video {
    object-fit: fill;
    position: absolute;

    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    filter: blur(4px);
    filter: brightness(50%);
}



.games-section1
{
    position: relative;
    overflow: hidden;
    color: #FFF;
    height: 600px;
    width: auto;
}
.games-section1 video{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    height:auto;
    width:auto;
    z-index: -100;
    filter: blur(4px);
    filter: brightness(50%);

}

.games-section1img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    height:auto;
    width:auto;
    z-index: -100;
    filter: blur(4px);
    filter: brightness(50%);
}


.game-images{
    max-width: 500px;
    transition: transform 0.3s ease;
    -webkit-filter: brightness(100%);
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .game-images {
        max-width: 200px;
    }
  }



.game-images:hover  {
    transform: scale(0.8);
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}


.videos{
    max-width: 500px;
    transition: transform 0.3s ease;
    -webkit-filter: brightness(100%);
}


.about{
    background-color: #2A2A2A;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.contenedor-botones {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
  
  .button-circular {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f8f8f8;
    margin-right: 5px; /* Añade un margen derecho opcional entre los botones */
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .button-circular2 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #f8f8f8;
    margin-right: 5px; /* Añade un margen derecho opcional entre los botones */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  
  
  .button-circular img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 50%;
  }

  .button-circular2 img {
    width: 70%;
    height: 70%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .button-circular:hover
  {
    color: rgb(104, 104, 104);
    -webkit-transition: color 250ms lisnear;
    -ms-transition: color 250ms linear;
    transition: color 250ms linear;
  }
  
.button-images{
    width: 80%;
    height:80%;
    transition: transform 0.3s ease;
    -webkit-filter: brightness(100%);
}

.button-images:hover  {
    transform: scale(0.75);
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.gamespage-img{
    width: 100%;
    max-width: 1000px;
}

.gamespage-txt{
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
