@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #ffffff;
    height:  50em;
}

body, html {
    margin-left:10%;
    margin-right:10%;
    margin-bottom:1%;
    margin-top:1%;
}

section, table{

}
a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10%;
    background-color: #2A2A2A;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0x;
    z-index: 9999;
}
nav{
    top: 0;
    z-index: 1;    
}

.logo{
    color: #FFF;
    font-weight: 1000;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li{
    margin-left: 10px;
    margin-right: 10px;
}

nav ul li a
{
    color: #FFF;
    display: block;
    padding: 10x 20px;
}

nav li a:hover
{
    color: rgb(172, 172, 172);
    -webkit-transition: color 250ms linear;
    -ms-transition: color 250ms linear;
    transition: color 250ms linear;
}


.main-content{
    margin-top: 50px;
}
.center{
    text-align: center;
}

.item{
    max-width: 500px;
    width: 100%;
    height: auto;
    align-items: center;
}

.item img{
    width: 100%;
    height: auto;
}

.logo_img{
    width: 100%;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    margin-top: 100x;
}

.section1
{
    background-color: rgb(255, 255, 255);
}

.game-images{
    max-width: 500px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    -webkit-filter: brightness(100%);
}




.game-images:hover  {
    transform: scale(0.8);
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}



.about{
    background-color: #2A2A2A;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.contenedor-botones {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
  
  .button-circular {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f8f8f8;
    margin-right: 5px; /* Añade un margen derecho opcional entre los botones */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button-circular img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 50%;
  }
  
    .button-circular:hover
  {
    color: rgb(104, 104, 104);
    -webkit-transition: color 250ms linear;
    -ms-transition: color 250ms linear;
    transition: color 250ms linear;
  }


  
.button-images{
    width: 80%;
    height:80%;
    transition: transform 0.3s ease;
    -webkit-filter: brightness(100%);
}

.button-images:hover  {
    transform: scale(0.75);
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.gamespage-img{
    width: 100%;
    max-width: 1000px;
}

.gamespage-txt{
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}